Day 1

In [52]:
import numpy as np
import pandas as pd
from sklearn import linear_model
%matplotlib inline
from pylab import rcParams
import seaborn as sb
import matplotlib.pyplot as plt
import scipy

from sklearn import preprocessing
from sklearn.preprocessing import scale

In [29]:
df = pd.read_csv("house.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880,129,322,126,8.3252,452600,NEAR BAY
1,-122.22,37.86,21.0,7099,1106,2401,1138,8.3014,358500,NEAR BAY
2,-122.24,37.85,52.0,1467,190,496,177,7.2574,352100,NEAR BAY
3,-122.25,37.85,NaN,1274,235,558,219,5.6431,341300,NEAR BAY
4,-122.25,37.85,52.0,1627,280,565,259,3.8462,342200,NEAR BAY

In [30]:
import math
median_total_age = math.floor(df.housing_median_age.median())
median_total_age

51

In [31]:
df.housing_median_age = df.housing_median_age.fillna(median_total_age) #handling missing values
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880,129,322,126,8.3252,452600,NEAR BAY
1,-122.22,37.86,21.0,7099,1106,2401,1138,8.3014,358500,NEAR BAY
2,-122.24,37.85,52.0,1467,190,496,177,7.2574,352100,NEAR BAY
3,-122.25,37.85,51.0,1274,235,558,219,5.6431,341300,NEAR BAY
4,-122.25,37.85,52.0,1627,280,565,259,3.8462,342200,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
78,-122.29,37.81,23.0,1745,374,1054,325,0.8026,112500,FAR BAY
79,-122.28,37.80,38.0,684,176,344,155,2.0114,131300,NEAR BAY
80,-122.28,37.81,17.0,924,289,609,289,1.5000,162500,NEAR BAY
81,-122.27,37.81,52.0,210,56,183,56,1.1667,112500,NEAR BAY
82,-122.28,37.81,52.0,340,97,200,87,1.5208,112500,FAR BAY

In [27]:
reg = linear_model.LinearRegression()
reg.fit(df[['housing_median_age','total_rooms','total_bedrooms','population']], df.median_house_value)

LinearRegression()

In [32]:
df.shape

(83, 10)

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
x_train, x_test, y_train, y_test = train_test_split(df[['housing_median_age','total_rooms','total_bedrooms','population']],df.ocean_proximity, train_size = 0.9)

In [35]:
x_test

    housing_median_age  total_rooms  total_bedrooms  population
45                52.0         1656             420         718
43                52.0          950             202         467
51                43.0         1868             456        1061
67                52.0         1027             244         492
56                52.0         1238             288         622
31                52.0         2153             481        1168
22                52.0         2436             541        1015
10                51.0         2202             434         910
61                49.0          135              29          86

In [37]:
from sklearn.linear_model import LogisticRegression

In [38]:
model= LogisticRegression()
model.fit(x_train, y_train)

LogisticRegression()

In [39]:
model.predict(x_test)

array(['NEAR BAY', 'NEAR BAY', 'NEAR BAY', 'NEAR BAY', 'NEAR BAY',
       'NEAR BAY', 'NEAR BAY', 'NEAR BAY', 'NEAR BAY'], dtype=object)

In [41]:
 model.score(x_train,y_train)

0.8378378378378378

In [59]:
#scale featuring
m = df.total_rooms.values.reshape(1,-1)
scaled = preprocessing.MinMaxScaler()
scaled_rooms = scaled.fit_transform(m)